// FONTS
$open: 'Open Sans', sans-serif;

//COLORS
$red: red;
$noir:#000000;
$blanc: #ffffff;
$jaune: #ffd00b;
$jaune-hover: #ffba0d;
$orange-dare: #ff4c0d;
$orange-dare-dark: #fc6030;
$grey-head: #969696;
$grey-light: #f0f0f0;
$grey-dark: #424242;
$grey-ddark: #272727;
$blue-dark:#030342;
$blue-intense: #2199e8;
